* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}

p {
	margin: 20px 0px;
	text-align: justify;
}

#container {
	margin: 0px auto;
}


#header {
	position: absolute;
	background-image: url('../images/header-bg-desktop.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
	padding-top: 38.35%;
	align-items: center;
	text-align: center;
}

#header-wrap {
	position: absolute;
	top: 0px;
	_border: solid 5px tomato;
	width: 100%;
	height: 100%;
}

nav {
	display: flex;
	padding: 10px 5%;
	color: white;
	justify-content: space-between;
	align-items: center;
}

#nav-logo,
#footer-logo {
	font-weight: 500;
	font-size: 1.2em;
}

.ed {
	color: #FAE0B1;
}

.ed-strong {
	color: #f3b43f;
}

.ed-green {
	color: #00fbff;
}

#nav-links {
	width: 100%;
	text-align: left;
	padding-left: 10%;
}

#nav-links span {
	margin: auto 10px;
}

#nav-contact button {
	background-color: white;
	color: #6426dd;
	text-transform: uppercase;
}

button {
	padding: 10px 20px;
	border-radius: 25px;
	border: none;
	cursor: pointer;
	font-weight: 700;
}

#header-main-content {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	height: calc(100% - 64px);
}

#header-main-content-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	color: white;
}

#header-main-content-image img {
	margin-right: 40px;
	width: 460px;
	height: auto;
}

#header-main-content-image {
	display: flex;
	justify-content: space-around;
	padding-bottom: 40px;
	height: 100%;
	align-items: center;
}

#main-input {
	width: 100%;
	min-height: 800px;
	margin-top: 50px;
	color: #404040;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	background-image: url('../images/main-input-bg.png');
	background-size: contain;
	background-repeat: no-repeat;
}

#main-input-selector-options {
	width: 600px;
	display: inline-grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	justify-content: space-between;
	background-color: #f2f2f2;
	font-size: .9;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #999;
	cursor: pointer;
}

#main-input-text {
	display: flex;
	width: 80%;
	gap: 50px;
	justify-content: space-between;
}

#main-input-textbox-1,
#main-input-textbox-2 {
	width: 100%;
}

#text-input-form-01,
#text-input-form-02 {
	margin: auto;
	width: 100%;
	height: 300px;
	font-family: 'Inconsolata', monospace;
	font-weight: 300;
	font-size: 1rem;
	background-color: #f2f2f2;
	padding: 10px;
	overflow: scroll;
	border-radius: 5px;
}

#method {
	display: flex;
	flex-direction: column;
	padding: 0px 30px 30px 30px;
	width: 100%;
	background-color: #6426dd;

}

#method-title {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: left;
	gap: 50px;
	border-bottom: 1px solid #00dadc;
}

#method-text {
	padding: 0px 50px;
}

#method-text strong {
	color: #fceccf;
	font-weight: 500;
}

#method-text a {
	color: #f3b43f;
	font-weight: 500;
	text-decoration: none;
}

#method-text a:hover {
	color: #00fbff;
}

#about-text a {
	color: #7037e1;
	font-weight: 500;
	text-decoration: none;

}

#about-text a:hover {
	color: #f3b43f;
}

#method-text i {
	margin-left: -5px;
}

#method-text-readability,
#method-text-similarity {}

#method-bg-top,
#method-bg-bottom {
	display: flex;
}

.mt {
	cursor: pointer;
	color: white;
	border-bottom: 7px solid #00dadc;
}

.mt-inactive {
	color: #a07aeb;
	border-bottom: none;
}

.mt-inactive:hover {
	color: #00fbff;

}

.mt-hide {
	display: none;
}

#about-contact {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px 50px;
	gap: 50px;
	background-image: url('../images/about-contact-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 50px;
}

#about {
	width: 40%;
	display: flex;
	flex-direction: column;
}

#about-title,
#contact-title {
	text-transform: uppercase;
	font-family: 'Questrial', sans-serif;
	font-size: 2em;
	color: #4d1cb0;
	text-align: left;
	margin-bottom: 20px;
}

#about h2,
#contact h2 {
	text-align: left;
	color: #404040;
	z-index: 1;
}

#about-text p {
	color: #404040;
	font-family: 'Inconsolata', monospace;
	line-height: 1.5em;
	align-items: center;

}

#about-tech-icons {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-evenly;
	color: #7037e1;
	cursor: pointer;
	margin: 30px auto;
}

.about-tech-icons-text {
	width: 100px;
	font-size: .8em;
	align-items: center;
	padding: 10px;
}

.about-tech-icons-text i {
	margin-bottom: 10px;
}

#about-tech-icons i {
	font-size: 2em;

}

#about-tech-icons div:hover {
	color: #44189a;
}

#contact {
	width: 40%;
	display: flex;
	flex-direction: column;
}

#contact-green-ball img {
	width: 150px;
	position: relative;
	top: -100px;
	right: -350px;
	z-index: -1;
}

.contact-input-flex {
	display: flex;
	flex-direction: column;
	align-items: flex-start
}

#contact-title {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
}

.contact-input-submit {
	text-align: right;
}

#footer-bg {
	display: flex;
}

#footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 5%;
	background-image: linear-gradient(#6426dd, #44189a);
	color: #D8C9F7;
}

#copyright {
	font-family: 'Inconsolata', monospace;
	font-size: .9em;
}

#social-media i {
	font-size: 1.8em;
	margin: 0px 10px;
	cursor: pointer;
}

#social-media i:hover {
	color: white;
}

.license-text {
	font-family: 'Inconsolata', monospace;
	font-size: .8em;
}

.text-align-center {
	text-align: center;
}

.img-100 {
	width: 100%;
}

.text-card {
	padding: 20px;
	font-family: 'Inconsolata', monospace;
	line-height: 1.5em;
	color: #D8C9F7;
}

.text-card-subtitle {
	margin: 30px auto;
	color: #f2f2f2;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2em;

}

.input-selector {
	align-items: center;
	padding: 15px;
}

.input-selector:hover {
	background-color: #6426dd;
	color: white;
}

.border-radius-left {
	border-radius: 5px 0px 0px 5px;
}

.border-radius-right {
	border-radius: 0px 5px 5px 0px;
}

.border-right {
	border-right: 1px solid #999;
}

.subtitle {
	font-size: .8em;
}

.light-white {
	color: #D8C9F7;
}

.strong-purple {
	color: #4d1cb0;
}

.btn-green {
	width: 150px;
	background-color: #00dadc;
}

.btn-green:hover {
	background-color: #00fbff;
}

.btn-yellow {
	width: 150px;
	background-color: #f3b43f;
}

.btn-yellow:hover {
	background-color: #FAE0B1;
}

.input-steps {
	display: flex;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 10px;
}

.input-steps-round {
	background-color: #fceccf;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
	align-items: center;
	padding-top: 1px;
	padding-left: 1px;

}


/* CONTACT form */

input[type=text],
input[type=email],
select,
textarea {
	width: 100%;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 16px;
	resize: vertical;
	font-family: 'Inconsolata', monospace;
	font-size: 1em;
	font-weight: 300;
	color: #404040;
	box-shadow: 0px 0px 50px #ebebf9;

}

.container {
	margin-top: 20px;
	border-radius: 10px;

}

.container label {
	display: none;
	position: relative;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #999;
	font-size: .7em;
	top: 9px;
	left: 20px;
	background-color: white;
	padding: 0px 5px;
}


@media only screen and (max-width: 1440px) {

	#header-main-content-image img {
		margin-right: 40px;
		width: 420px;
	}
}

@media only screen and (max-width: 1280px) {

	#header-main-content-image img {
		margin-right: 20px;
		width: 380px;
	}
}

@media only screen and (max-width: 1120px) {

	#header-main-content-image img {
		margin-right: 20px;
		width: 340px;
	}
}

@media only screen and (max-width: 980px) {

	#header-main-content-image img {
		margin-right: 20px;
		width: 300px;
	}
}

@media only screen and (max-width: 880px) {

	#header-main-content-image img {
		margin-right: 20px;
		width: 260px;
	}
}

@media only screen and (max-width: 780px) {

	#header-main-content-image {
		display: none;
	}
}