{% extends "layout.html" %}

{% block title %}
    Text(ed) | About
{% endblock %}

{% block main %}
<div class="container">
    <div id="about_div" class="box-shadow mt-cust mb-cust">
        <h1 class="general_title"><i class="fas fa-info-circle"></i> About </h1>
        <div class="row d-flex justify-content-center p-3">
            <div class="col">
                <p class="pl-5 pr-5 text-justify">
                    <strong>Purpose</strong>
                    <br>This is the Final Project for the Harvard's "Introduction to the Intellectual Enterprises of Computer Science and the Art of Programming" - CS50's Web Track.
                    <a href="https://cs50.harvard.edu/" target="_blank" title="Learn More"><i class="fas fa-link"></i></a>
                </p>
                <p class="pl-5 pr-5 mt-5 text-justify">
                    <strong>Description</strong>
                    <br>A web-based application able to calculate the readability and similarity of a text.
                    <br><br>Calculates the readability of a given text according to the "Coleman–Liau Index" and presents the result indicating the average grade and age of a person expected to easily read and understand the text.
                    <br><br>Estimates the lexical similarty between two given texts according to the following linguistic traces: Type-token relation, Hapax legomenon ratio, words, sentences and phase complexity and average size. Presents the level of similarity between the texts in percentage (%).
                    <br><br>The project was inspired by a problem set called "Readability" presented by the CS50's program in weeks 2 and 6.
                </p>
                <p class="pl-5 pr-5 mt-5 text-justify">
                    <strong>Technologies</strong>
                    <br> * Python 3.8.2
                    <br> * Flask 1.1.2
                    <br> * Bootstrap 4
                    <br> * JavaScript
                    <br> * CSS 3
                    <br> * HTML 5
                </p>
                <p class="pl-5 pr-5 mt-5 text-justify">
                    <strong>Credits</strong>
                    <br>Wildson Seguchi <a href="https://www.linkedin.com/in/wildson-seguchi-a61325180/" target="_blank" title="Learn More"><i class="fas fa-link"></i></a>
                    <br>Curitiba, Paraná, Brazil.
                    <br>July 2020.
                </p>
                <p class="pl-5 pr-5 mt-5 text-justify">
                    <strong>License</strong>
                    <br>MIT License
                    <br> Copyright (c) 2020 Wildson Seguchi
                    <br><br>
                    Permission is hereby granted, free of charge, to any person obtaining a copy
                    of this software and associated documentation files (the "Software"), to deal
                    in the Software without restriction, including without limitation the rights
                    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                    copies of the Software, and to permit persons to whom the Software is
                    furnished to do so, subject to the following conditions:
                    <br><br>
                    The above copyright notice and this permission notice shall be included in all
                    copies or substantial portions of the Software.
                    <br><br>
                    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
                    SOFTWARE.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}