<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Text and readability app">
    <meta name="keywords" content="education, text, read, readability, similarity, school, homework, lexical, coleman liau">
    <meta name="author" content="Wildson Seguchi">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500&family=Poppins:wght@300;500&family=Questrial&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/56cc913de5.js" crossorigin="anonymous"></script>
    <script src="../static/script.js" defer></script>
    <title>Text(ed) - Evaluate your text!</title>
  </head>
  <body>
    <div id="header">
      <nav>
        <div id="nav-logo">
          text(<span class="ed">ed</span>)
        </div>
        <div id="nav-links">
          <span id="nav-links-home" onclick="pageScroll('#header')">Home</span>
          <span onclick="pageScroll('#method-bg-top')">Method</span>
          <span onclick="pageScroll('#about-contact')">About</span>
          <span id="nav-links-contact" onclick="pageScroll('#contact')">Contact</span>
        </div>
        <div id="nav-contact">
          <button onclick="pageScroll('#about-contact')">Contact</button>
        </div>
      </nav>
      <div id="header-main-content">
        <div id="header-main-content-text">
          <h1><span class="light-white">Welcome to </span>Text(<span class="ed">ed</span>)</h1>
          <div>Check the <strong>readability</strong> and <strong>similarity</strong> of your texts</div>
          <button class="btn-green" onclick="pageScroll('#main-input-bg')">Try now <i class="fa-solid fa-lightbulb"></i></button>
        </div>
        <div id="header-main-content-image">
          <img src="../static/img-books-main.svg" alt="Book with a lamp">
        </div>
      </div>
      <div id="header-bg-circles">
        <img src="../static/img-bg-circle.png">
      </div>
    </div>
    <div id="header-bg-bottom">
      <img class="img-100" src="../static/img-bg-header.png">
    </div>
    <div id="feature">
      <div id="feature-readability" class="feature-cards">
        <i class="fa-solid fa-book-open-reader"></i>
        <h1>(<span class="strong-purple">read</span>)ability</h1>
        <h3 class="card-text">Check <strong>readability</strong> to keep your content accessible and maximize your audience readership.</h3>
      </div>
      <div id="feature-similarity" class="feature-cards">
        <i class="fa-solid fa-copy"></i>
        <h1>(<span class="strong-purple">similar</span>)ity</h1>
        <h3 class="card-text">Check <strong>similarity</strong> to avoid redundancies and plagiarism.</h3>
      </div>
    </div>
    <div id="main-input-bg">
      <img class="img-100" src="../static/img-main-input-bg.png">
    </div>
    <div id="main-input">
      <div id="main-input-title">
        <h1><span class="strong-purple">Text(</span><span class="ed-strong">ed</span><span class="strong-purple">) is fast and simple to use!</span></h1>
      </div>
      <div id="main-input-selector-1" class="main-input-selector-cl">
        <div class="input-steps">
          <div class="input-steps-round">
            <h3>1</h3>
          </div>
          <h3>Select the option you want to check:</h3>
        </div>
        <div id="warning-option" class="warning"><i class="fa-solid fa-triangle-exclamation"></i> Please select one of the options below!</div>
        <div id="main-input-selector-options" value="">
          <div id="main-input-selector-options-readability" class="input-selector border-right border-radius-left" onclick="selectMode('readability')">
            <strong>READABILITY</strong><br>
            <span class="subtitle">of one text</span>
          </div>
          <div id="main-input-selector-options-similarity" class="input-selector border-radius-right" onclick="selectMode('similarity')">
            <strong>READABILITY & SIMILARITY</strong><br>
            <span class="subtitle">between two texts</span>
          </div>
        </div>
      </div>
      <div id="main-input-selector-2" class="main-input-selector-cl">
        <div class="input-steps">
          <div class="input-steps-round">
            <h3>2</h3>
          </div>
          <h3>Type or copy-paste your text:</h3>
        </div>
        <div id="warning-identical-texts" class="warning mb"><i class="fa-solid fa-person-falling-burst"></i> Oh... Identical texts! Please input different texts.</div>
        <form action="/result" method="post" onsubmit="return checkSubmitFunction()">
          <div id="main-input-text">
            <div id="main-input-textbox-1">
              <div id="warning-textbox-1" class="warning mb"><i class="fa-solid fa-triangle-exclamation"></i> Please, input your text!</div>
              <textarea id="text-input-form-01" class="form-control text-input" name="text_input" placeholder="Type in or paste your text."></textarea>
            </div>
            <div id="main-input-textbox-2">
              <div id="warning-textbox-2" class="warning mb"><i class="fa-solid fa-triangle-exclamation"></i> Please, input your second text!</div>
              <textarea id="text-input-form-02" class="form-control text-input" name="text_input" placeholder="Type in or paste your 2nd text."></textarea>
            </div>
          </div>
      </div>
      <div id="main-input-selector-3" class="main-input-selector-cl">
      <div class="input-steps">
      <div class="input-steps-round">
      <h3>3</h3>
      </div>
      <h3>That's it... Let's get Text(<span class="ed-strong">ed</span>).</h3>
      </div>
      <input class="form-check-input" type="checkbox" id="inlineCheckbox" name="inlineCheckbox" value="">
      <button class="btn-yellow" id="submit" type="submit"> GO <i class="fa-solid fa-play"></i></button>
      </form>
      </div>
    </div>
    <div id="method-bg-top"><img class="img-100" src="../static/img-method-bg-top.png"></div>
    <div id="method">
      <div id="method-title">
        <div id="method-title-readability" class="mt mt-active" onclick="changeMethodVisibility('readability')">
          <h1>(<span id="method-title-span-readability" class="ed">read</span>)ability</h1>
        </div>
        <div id="method-title-similarity" class="mt mt-inactive" onclick="changeMethodVisibility('similarity')">
          <h1>(<span id="method-title-span-similarity" class="">similar</span>)ity</h1>
        </div>
      </div>
      <div id="method-text">
        <div id="method-text-readability" class="text-card">
          <div class="text-card-subtitle">
            <span class="ed">Readability</span> refers to the ease with which text can be read and understood.
          </div>
          <p>
            The average American is considered to have a readability level equivalent to a <strong>7th/8th grader</strong> (12 to 14 years old).
            <a href="https://centerforplainlanguage.org/what-is-readability/#:~:text=U.S.%20illiteracy%20statistics%20from%20the,guidelines%20in%20the%20medical%20industry" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
          </p>
          <p>
            Readability formulas are often used to assess the <strong>difficulty</strong> of text.
          </p>
          <p>
            These formulas use mathematical calculations to produce a score. The score shows the relative difficulty on a continuum from easy (grade five or lower) to very hard (college level and above). <strong>Higher scores mean lower reading ease or lower readability.</strong>
            <a href="http://www.clearlanguagegroup.com/readability/" target="_blank" title="Learn More"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
          </p>
          <p>
            This app calculates the score according to the <a href="https://en.wikipedia.org/wiki/Coleman%E2%80%93Liau_index" target="_blank" title="Learn More">Coleman–Liau Index</a>:
          </p>
          <p>
            The Coleman–Liau index is a readability test designed by Meri Coleman and T. L. Liau to gauge the understandability of a text. Like the Flesch–Kincaid Grade Level, Gunning fog index, SMOG index, and Automated Readability Index, <strong>its output approximates the U.S. grade level thought necessary to comprehend the text.</strong>
            <a href="https://en.wikipedia.org/wiki/Coleman%E2%80%93Liau_index" target="_blank" title="Learn More"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
          </p>
        </div>
        <div id="method-text-similarity" class="text-card mt-hide">
          <div class="text-card-subtitle">
            <span class="ed">Similarity</span> refers to how "close" two pieces of text are.
          </div>
          <p>
            Measuring the similarity is of key importance in several natural processing applications including information retrieval, book recommendation, news categorization and essay scoring.
            <a href="https://www.aclweb.org/anthology/P18-1218.pdf" target="_blank" title="Learn More"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
          </p>
          <p>
            The texts can be similar in a) meaning or b) surface closeness. The first is referred to as <strong>semantic similarity</strong> and the latter is referred to as <strong>lexical similarity</strong>.
          </p>
          <p>    
            This app evaluates the <a href="https://kavita-ganesan.com/what-is-text-similarity/#.Xx88PBNKh0w" target="_blank" title="Learn More">Lexical Similarity</a>:
          </p>
          <p>
            It means how similar two pieces of text are at the surface level. For example, how similar are the phrases <strong>“the cat ate the mouse”</strong> with <strong>“the mouse ate the cat food”</strong> by just looking at the words?  On the surface, if you consider only word level similarity, these two phrases appear very similar as 3 of the 4 unique words are an exact overlap. <strong> This notion of similarity does not take into account the actual meaning behind words or the entire phrase in context.</strong>
          </p>
        </div>
      </div>
    </div>
    <div id="method-bg-bottom"><img class="img-100" src="../static/img-method-bg-bottom.png"></div>
    <div id="about-contact">
      <div id="about">
        <div id="about-title">
          About
        </div>
        <div id="about-text">
          <h2>Text(ed) is a web-based application that evaluates the readability and similarity of a text.</h2>
          <p>The project was inspired by a problem set called "Readability" presented by the <a href="https://cs50.harvard.edu/x/" target="_blank" title="Learn More">CS50's program</a> in weeks 2 and 6.</p>
          <p>The application was built with the following technologies:</p>
          <div id="about-tech-icons">
            <div class="about-tech-icons-text">
              <i class="fa-brands fa-python"></i>
              <div>Python and Flask</div>
            </div>
            <div class="about-tech-icons-text">
              <i class="fa-brands fa-js-square"></i>
              <div>JavaScript and JQuery</div>
            </div>
            <div class="about-tech-icons-text">
              <i class="fa-brands fa-html5"></i>
              <div>HTML 5</div>
            </div>
            <div class="about-tech-icons-text">
              <i class="fa-brands fa-css3-alt"></i>
              <div>CSS 3</div>
            </div>
            <div class="about-tech-icons-text">
              <i class="fa-brands fa-square-font-awesome"></i>
              <div>Font Awesome</div>
            </div>
            <div id="about-tech-icons-github" class="about-tech-icons-text" onclick="window.open('https://github.com/wseguchi/texted')">
              <i class="fa-brands fa-github-square"></i>
              <div>View Github Repository</div>
            </div>
          </div>
          <div id="license">
            <p class="text-align-center">MIT License <a href="https://opensource.org/licenses/MIT" target="_blank" title="Learn More"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></p>
          </div>
        </div>
      </div>
      <div id="contact">
        <div id="contact-title">
          <div id="contact-title-text">Contact</div>
          <!--<div id="contact-green-ball"><img src="../static/img-contact-green-ball.png"></div>-->
        </div>
        <h2>Don't hesitate to contact us for any information.</h2>
        <div class="container">
          <form action="https://formsubmit.co/wseguchi@gmail.com" method="POST">
            <div class="contact-input-flex">
              <label for="fname">Full Name</label>
              <input type="text" id="full-name" name="name" placeholder="Full Name" required>
            </div>
            <div class="contact-input-flex">
              <label for="email">E-mail</label>
              <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="contact-input-flex">
              <label for="subject">Subject</label>
              <textarea id="subject" name="subject" placeholder="Message" style="height:200px" required></textarea>
            </div>
            <input type="hidden" name="_subject" value="Texted | New Message">
            <div class="contact-input-submit">
              <button class="btn-yellow" type="submit" value="Submit">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="footer-bg"><img class="img-100" src="../static/img-footer-bg.png"></div>
    <div id="footer">
      <div id="footer-logo" onclick="pageScroll('#header')">
        text(<span class="ed">ed</span>)
      </div>
      <div id="copyright">
        Copyright &copy; 2020 Wildson Seguchi. All rights reserved.
      </div>
      <div id="social-media">
        <i class="fa-brands fa-linkedin" onclick="window.open('https://www.linkedin.com/in/wildson-seguchi')"></i>
        <i class="fa-brands fa-github" onclick="window.open('https://github.com/wseguchi')"></i>
        <i class="fa-brands fa-discord" onclick="window.open('https://discordapp.com/users/733873632593576039')"></i>
      </div>
    </div>
    </div>
    </div>
  </body>
</html>