{% extends "layout.html" %}

{% block title %}
    Text(ed) | Methods
{% endblock %}

{% block main %}
<div class="container">
    <div id="method_div" class="box-shadow mt-cust mb-cust">
        <h1 class="general_title"><i class="fas fa-cogs"></i> Method </h1>
        <div class="row d-flex justify-content-center p-3">
            <div class="col">
                <h1 class="pt-0"><i class="fas fa-book"></i>  Readability</h1>
                <p class="pl-5 pr-5 text-justify">
                    Readability refers to the ease with which text can be read and understood.
                    Readability formulas are often used to assess the difficulty of text.
                    These formulas use mathematical calculations to produce a score.
                    The score shows the relative difficulty on a continuum from easy (grade five or lower) to very hard (college level and above).
                    Higher scores mean lower reading ease or lower readability.
                    <a href="http://www.clearlanguagegroup.com/readability/" target="_blank" title="Learn More"><i class="fas fa-link"></i></a>
                </p>
                <h1>The Coleman–Liau Index</h1>
                <p class="pl-5 pr-5 text-justify">
                    The Coleman–Liau index is a readability test designed by Meri Coleman and T. L. Liau to gauge the understandability of a text. Like the Flesch–Kincaid Grade Level, Gunning fog index, SMOG index, and Automated Readability Index, its output approximates the U.S. grade level thought necessary to comprehend the text.
                    <br><br>Like the ARI but unlike most of the other indices, Coleman–Liau relies on characters instead of syllables per word. Although opinion varies on its accuracy as compared to the syllable/word and complex word indices, characters are more readily and accurately counted by computer programs than are syllables.
                    <br><br>The Coleman–Liau index was designed to be easily calculated mechanically from samples of hard-copy text. Unlike syllable-based readability indices, it does not require that the character content of words be analyzed, only their length in characters. Therefore, it could be used in conjunction with theoretically simple mechanical scanners that would only need to recognize character, word, and sentence boundaries, removing the need for full optical character recognition or manual keypunching.
                    <a href="https://en.wikipedia.org/wiki/Coleman%E2%80%93Liau_index" target="_blank" title="Learn More"><i class="fas fa-link"></i></a>
                </p>
            </div>
            <div class="col">
                <h1 class="pt-0"><i class="fas fa-copy"></i>  Similarity</h1>
                <p class="pl-5 pr-5 text-justify">
                    Measuring the similarity between documents is of key importance in several natural processing applications including information retrieval, book recommendation, news categorization and essay scoring.
                    <a href="https://www.aclweb.org/anthology/P18-1218.pdf" target="_blank" title="Learn More"><i class="fas fa-link"></i></a>
                    <br><br>In essence, the goal is to compute how ‘close’ two pieces of text are in meaning or surface closeness. The first is referred to as <strong>semantic similarity</strong> and the latter is referred to as <strong>lexical similarity</strong>. 
                </p>
                <h1>Lexical Similarity</h1>
                <p class="pl-5 pr-5 text-justify">
                    For the most part, when referring to text similarity, people actually refer to how similar two pieces of text are at the surface level. For example, how similar are the phrases “the cat ate the mouse” with “the mouse ate the cat food” by just looking at the words?  On the surface, if you consider only word level similarity, these two phrases (with determiners disregarded) appear very similar as 3 of the 4 unique words are an exact overlap.
                    <br><br> This notion of similarity is often referred to as lexical similarity. It typically does not take into account the actual meaning behind words or the entire phrase in context. While the actual meaning of the phrases is often disregarded this does not mean that computing similarity in this way is ineffective. You can actually come up with creative ways of expanding the scope of each word or a set of related words (lexical chains) to improve the similarity between two pieces of text being compared. 
                    <a href="https://kavita-ganesan.com/what-is-text-similarity/#.Xx88PBNKh0w" target="_blank" title="Learn More"><i class="fas fa-link"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}